body {
	margin: 0;
	background-color: #D3D3D3;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	сolor: #F2F3F4;
	overflow-x:hidden; 
}

*,
*:before,
*:after {
	background-origin: border-box;
}

	/* Header */
.header {
	position: center;
	 top: 0rem;
	 max-width: 100%;
	 background-color:#F0F8FF;
}
	/* Nav */
.nav {
	text-transform: uppercase;
	font-size: 1rem;
	max-width: 100%;
	line-height: 3rem;
	text-align:center;
}

.nav_link {
	margin-left: 4vh;
	display: inline-block;
	vertical-align: top;
	color: #111;
	text-decoration: none;
	transition: color 0.25s linear;
}

.nav_link:hover {
	color: #D2691E;
}

	/* Container */
.container {
	max-width: 100%;
	margin: 0 auto;
}
	/* Description */
.description {
	background-color:#FFFAFA;
	width:80%;
	height:25rem;
	margin-left:10%;
}
.description__title{
	display:flex;
	justify-content: space-between;
	width:100%;
	padding-top:5%;
}
.description__text{
	padding-left:5%;
	padding-right:5%;
	font-size:1.2rem;
}
	/* Circle */
.circle{
  left:15%;
  top:5%;
  border: 1px solid white;
  border-radius: 60px;
  border: 4px solid;
  position: relative;
  width: 100px;
  height: 100px;
  margin:0;
  float:left;
}
	/* Icon */
.icon {
	padding-left: 17%;
	padding-top: 12%;
}
	/* Title */
.title {
	padding-top:1vh;
	padding-right:13vw;
}
	/* Block */
.block {
	margin-top:4vh;
	background-color:#FFFAFA;
	width:80%;
	height:70rem;
	margin-left:10%;
}
.block__title {
	padding-top:1%;
	position: relative;
	font-size:3rem;
	text-align:center;
}
	/* Day */
.day {
	position: relative;
	text-align:center;
}
	/*  Linker */
.linker {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.linker:after {
	content: "";
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.linker:hover .img__text{
	display:block;
	opacity: 0.9;
}

.linker:hover:after {
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #708090, #2F4F4F); 
	opacity: 0.4;
	z-index: 0;
}
.linker:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.5s;
}
.linker:hover .plus{
	opacity: 0.3;
	display:inline-block;
}
	/* Img__text */
.img__text {
position:absolute;
left:0;
bottom:75%;
right:0;
color:white;
font-size:0.8rem;
display:none;
opacity:1;
text-align:center;
line-height: 1.5em;
z-index: 1;
}

	/* Plus */
.plus {
	display: none;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px; 
	position: absolute;
	top: 95%;
	left: 50%;    
	z-index: 100;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	opacity: 0.2;
}
	/* Authors */
.authors {
	margin-top:4vh;
	background-color:#FFFAFA;
	width:80%;
	height:40rem;
	margin-left:10%;
	margin-bottom:2%;
	text-align:center;
}
	/* Authors__title */
.authors__title {
	text-align:center;
	font-size:3rem;
	padding:0.3rem;
}
	/* Authors__block */
.authors__block {
	display: inline-block;
	vertical-align: middle;
	justify-content:space-between;
	margin:5%;
	text-align:center;
}
	/* Authors__name */
.authors__name {
	font-size:2rem;
	font-style:bold;
	margin:0 auto;
}

	/* Authors__text */
.authors__text {
	position: absolute;
	font-size:1rem;
	margin:0 auto;
}
	/* Writers */
.writers {
	padding:2%;
}
