body {
	margin: 0;
	background-color: #9999;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	—Åolor: #F2F3F4;
	overflow-x:hidden; 
}

*,
*:before,
*:after {
	background-origin: border-box;
}

	/* Header */
.header {
	position: center;
	 top: 0rem;
	 max-width: 100%;
	 background-color:#FFFAFA;
}
	/* Container */
.container {
	max-width: 100%;
	margin: 0 auto;
}
	/* Nav */
.nav {
	text-transform: uppercase;
	font-size: 1rem;
	max-width: 100%;
	line-height: 3rem;
}

.nav_link {
	margin-left: 2vh;

	display: inline-block;
	vertical-align: top;

	color: #111;
	text-decoration: none;

	transition: color 0.25s linear;
}

.nav_link:hover {
	color: #D2691E;
}
